/* Hero Section CSS Start */
.hero-section {
    height: 700px;
    background-image: url(/public/img/cover-image.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-content {
    display: flex;
    flex-direction: column;
    background: var(--white);
    background: linear-gradient(213deg, rgba(28, 189, 221, 1) 0%, rgba(77, 202, 121, 1) 75%);
    padding: 24px 40px 32px 40px;
    position: absolute;
    top: 400px;
    left: 80px;
    width: 630px;
    height: 306px;
    gap: 20px;
}
  
.header-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2%;
    color: var(--white);
    width: 556px;
}

@media (max-width: 1200px) {
    .hero-content {
        left: 60px;
        width: 622px;
    }
}

@media (max-width: 768px) {
    .hero-section {
        height: 448px;
    }
    .hero-content {
        top: 500px;
        left: 0;
        width: auto;
        height: auto;
    }
    .header-title {
        width: auto;
    }
    .hero-container {
        height: 700px;
    }
}

@media (max-width: 500px) {
    .hero-section {
        height: 225px;
    }
    .hero-content {
        top: 290px;
        height: 240px;
        padding: 24px 20px 32px 20px;
    }
    .header-title {
        font-size: 36px;
        line-height: 36px;
        max-width: auto;
    }
    .hero-container {
        height: 512px;
    }
}

@media (max-width: 375px) {
    .hero-section {
        height: 225px;
    }
    .hero-content {
        top: 290px;
        height: auto;
    }
    .header-title {
        font-size: 36px;
        line-height: 36px;
        width: auto;
    }
    .hero-container {
        height: 512px;
    }
}
/* Hero Section CSS End */

/* Service Section CSS Start */
.service-container {
    height: 1090px;
    background-color: var(--white);
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.service-row {
    display: flex;
    flex-direction: row;
    gap: 108px;
    align-items: center;
    justify-content: center;
    height: 414px;
}

.service-image img {
    width: 414px;
}

.service-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 542px;
}

.service-content,
.service-image {
  flex: 1;
}

.order-change .service-image img {
    order: 1;
}

.order-change .service-content {
    order: 2;
}

.service-title {
    color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 27px;
    line-height: 33px;
    letter-spacing: 0.4px;
}

.service-content p {
    color: var(--black);
    font-weight: 400;
    font-size: 16px;
    line-height: 19.36px;
}

@media (max-width: 1200px) {
    .service-container {
        height: 934px;
    }
    .service-row {
        gap: 20px;
        height: 346px;
    }
    .service-image img {
        width: 346px;
    }
    .service-content {
        width: 530px;
    }
}

@media (max-width: 768px) {
    .service-container {
        height: 751px;
    }
    .services {
        margin: 50px 0px;
    }
    .service-row {
        gap: 20px;
        height: 275px;
    }
    
    .service-image img {
        width: 275px;
    }
    
    .service-content {
        flex-direction: column;
        gap: 20px;
        width: 393px;
    }
}

@media (max-width: 500px) {
    .service-container {
        height: 1346px;
    }

    .services {
        margin: 0px;
    }

    .service-row {
        flex-direction: column;
        gap: 20px;
        height: 573px;
    }

    .service-image img {
        width: 275px;
    }

    .service-content {
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 335px;
    }

    .orderchange {
        flex-direction: column-reverse;
    }
    
    .order-change .service-content {
        order: 2;
    }
}
/* Service Section CSS End */