.hero-section {
    height: 700px;
    background-image: url(/public/img/cover-image.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-content {
    display: flex;
    flex-direction: column;
    background: var(--white);
    background: linear-gradient(213deg, rgba(28, 189, 221, 1) 0%, rgba(77, 202, 121, 1) 75%);
    padding: 24px 40px 32px 40px;
    position: absolute;
    top: 400px;
    left: 80px;
    width: 630px;
    height: 306px;
    gap: 20px;
}
  
.header-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2%;
    color: var(--white);
    width: 556px;
}

@media (max-width: 1200px) {
    .hero-content {
        left: 60px;
        width: 622px;
    }
}

@media (max-width: 768px) {
    .hero-section {
        height: 448px;
    }
    .hero-content {
        top: 500px;
        left: 0;
        width: 100%;
        height: 258px;
    }
    .header-title {
        width: 688px;
    }
    .container {
        height: 700px;
    }
}

@media (max-width: 500px) {
    .hero-section {
        height: 225px;
    }
    .hero-content {
        top: 290px;
        left: 0;
        width: 100%;
        height: 294px;
    }
    .header-title {
        font-size: 36px;
        line-height: 36px;
        width: 335px;
    }
    .container {
        height: 512px;
    }
}